@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Madimi+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:wght@500&display=swap');
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

html, body {
    width:100%;
    height:100%;
}

#main {
    width:100%;
    height: 100%;
    background-color: #e19ee2;
    display: flex;
    align-items: center;
    justify-content: center;
}
#panel {
    height: 80%;
    width: 80%;
    background-color: #e2e6dc;
    border-radius: 10px;
    overflow: hidden;
}

#ptop {
    width:100%;
    height: 100px;
    background-color: #4d073b;
    display: flex;
    color: white;
    padding: 0px 30%;
    align-items: center;
    justify-content: space-between;
}

.box {
    background-color: rgb(180, 167, 167);
    border-radius: 5px;
    padding: 10px;
    color: #23021b;
    font-weight: 700;
    font-size: 20px;
}
.elem {
    display: flex;
    align-items: center;
    gap: 15px;
}

#pbtm {
    width: 100%;
    height: calc(100% - 100px);
    background-color: rgb(229, 220, 231);
    display: flex;
    gap:10px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.bubble {
    width: 60px;
    height: 60px;
    background-color: #4d073b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}

h2 {
    font-size: 22px;
    font-weight: 500;
}

.bubble:hover {
    background-color: #131415;
    cursor: pointer;
    color: #1ce4b6;
}